.modal {
    position: fixed;
    inset: 0;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: var(--transition-duration);
    color: var(--color-white);
    z-index: 100;
    padding-inline: var(--padd-x);
}
.modal-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: var(--container-width);
    max-height: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    text-transform: uppercase;
    padding-inline: var(--padd-x);
    border-radius: 30px;
}
.modal-description {
    width: 100%;
    padding-top: 10px;
    line-height: 125%;
    font-weight: 300;
    font-size: clamp(14px, 1.14vw, 16px);
}
.modal-title {
    font-size: clamp(18px, 1.7vw, 24px);
}
.modal.open {
    opacity: 1;
    pointer-events: auto;
}
.closeBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 30px;
    cursor: pointer;
    background-color: var(--color-white);
    padding: 10px;
    border-radius: var(--border-radius-10);
    mix-blend-mode: difference;
}
.closeBtn::before, .closeBtn::after {
    width: 30px;
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--backgroud-body);
}
.closeBtn::before {
    transform: rotate(45deg);
}
.closeBtn::after {
    transform: rotate(-45deg);
}
@media (max-width: 767px) {
    .modal-content {
        max-height: max-content;
        padding-block: 20px;
        padding-left: 20px;
    }
    .modal-title {
        padding-right: 75px;
        padding-bottom: 15px;
    }
    .closeBtn {
        width: 20px;
        height: 20px;
        border-radius: var(--border-radius-5);
        top: 20px;
        right: 20px;
    }
}